<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <style>p,td,tr{font-size:1rem;}</style>
</head>
<body>
<div style="background-color:#f5f5f5;padding:1rem;font-family:'Roboto',sans-serif;">
  <div style="max-width:600px;margin:auto;">
    <div style="padding-bottom:1rem;text-align:center;">
      <a href="https://streamcord.io/twitch/">
        <img src="https://cdn.discordapp.com/app-assets/375805687529209857/store/820066766314668062.png" width="128" height="22" alt="Streamcord logo">
      </a>
    </div>
    <div style="padding:1rem;background-color:#ffffff;border-radius:10px;">
      <h1 style="margin:0;font-size:1.5rem;">Hello Akira,</h1>
      <p>
        One of your notifications in
        <a href="https://dash.streamcord.io/servers/123">Streamcord Dev</a>
        failed to send.
      </p>
      <table style="width:100%">
        <tr>
          <th style="text-align:left">Streamer</th>
          <th style="text-align:left">Channel</th>
        </tr>
        <tr>
          <td>ninja</td>
          <td>#stream-alerts</td>
        </tr>
      </table>
      <div style="padding-top:1rem;">
        <p>This is most likely because Streamcord doesn't have permissions to send messages in your notification channel.</p>
        <p>
          Follow
          <a href="https://docs.streamcord.io/notifications/issues#my-notifications-are-disabled">this guide</a>
          on our documentation site for instructions on how to fix the problem.
        </p>
        <p>
          If that doesn't work, you can also join our
          <a href="https://discord.gg/UNYzJqV">Discord server</a>
          and one of our staff members will assist you.
        </p>
      </div>
      <div style="padding-top:1rem;text-align:center">
        <p>
          <a style="background-color:#9146ff;color:white;padding:12px 22px;border-radius:10px;text-decoration:none;font-weight:bold;" href="https://dash.streamcord.io/servers/123">Visit my dashboard</a>
        </p>
      </div>
      <div style="padding-top:1rem;">
        <p>Best,<br>Streamcord team</p>
      </div>
    </div>
    <div style="padding:1rem;text-align:center">
      <p style="font-size:.8rem">
        Copyright &copy; Streamcord, LLC 2017&ndash;2021
      </p>
      <p style="font-size:.8rem">
        <a href="https://dash.streamcord.io/me/unsubscribe">Unsubscribe</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>